.main {
	background: url(../images/bg/6.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity:.8;
}
.center {
	display: block;
	text-align: center;
	vertical-align: center;
	width: 30%;
	max-height: 200px;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
}
.header {
	position: absolute;
}
.header a {
	color: #3b3a36;
	opacity: .8;
}

#name {
	padding: 10px;
	opacity:.8;
	font-size:26px;
	color:#ffffff;
	letter-spacing:3px;
}
#typed {
	color: #3b5998;
}
.nameblock {
	color: #FFF;
	padding: 20px;
	font-family: Poppins;
	min-width: 300px;
}
.logo {
	z-index: 99;
	min-width: 200px;
	min-height: 100px;
	max-height: 200px;
	max-width: 400px;
	width:100%;
	height: 100%;
}


.footer-new {
	position: absolute;
	bottom: 0;
	width: 40%;
	right:0;
	display: flex;
	font-family:Lato, sans-serif;
	z-index:9999;
}
.footer-new a {
	letter-spacing: 3px;
	font-size: 3vh;
	color: #fff;
	opacity:.7;
}

.typed-cursor{
			opacity: 1;
			font-weight: 100;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			-ms-animation: blink 0.7s infinite;
			-o-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@media only screen and (min-device-width: 1500px){ /* widescreen */
	.active {
		max-height: 900px !important;
	}
}
@media only screen and (min-device-width : 200px) and (max-device-width : 649px) { /* mobile */

	.nameblock {
		height: 180px;
		margin-top: 200px;
	}
	.logo {
		position: relative;
		top:-40px;
	}

	#name {
		position: relative;
		top: -50px;
	}

	#typed {
		display: block;
		position: relative;
		top: -50px;
	}
	.typed-cursor {
		display: none;
	}

}
