html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: Poppins;
	background-color: #fff;
}
.site-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}
.container-fluid {
	padding:0 !important;
	margin:0 !important;
	width: 100% !important;
}
p {
	font-size: 12pt;
	line-height: 180%;
}
h1 {
	font-size: 24px;
	text-align: center;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
hr { 
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
a {
	text-decoration: none !important;
	font-color:rgba(150,150,150,1);
}
.center {
	padding: 20px;
	margin-bottom: 0px;
}
.container-images {
	position: relative;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
}

.image {
	position: relative;
	width: 245px;
	height: 245px;
	margin: 3px;
	margin-top: 0px;
	background-position: 50% 50%;
	background-size: cover;
	display: inline-block;
}

#image-fs {
	display: none;
	/*visibility: hidden;*/
	z-index: 9999;
	text-align: center;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	background: #000;
}
#image-fs img {
	position: absolute;
	margin: auto;
	bottom:0; left:0; right: 0; top: 0;
	max-width: 100%;
	max-height: 100%;
	background: url() no-repeat center center;

}
button:focus {outline:0 !important;}
#exitFS {
	color:#f0f0f0;
	position: fixed;
	left:3%;
	top: 3%;
	font-size: 40pt;
	background:none;
    border:none;
    margin:0;
    padding:0;
    z-index: 999;
    cursor:pointer;
    opacity: .3;
}

#arrow_left, #arrow_right{
	position: fixed;
	cursor:pointer;
	top:50%;
	height:50px;	
	width:50px;
	outline:none;
	border:none;
	background-color: transparent;
	opacity: .2;
	z-index:9999;
}
#arrow_left {
	background: url("../images/arrow_l.png") no-repeat;
	background-size: 100%;
	left: 50px;

}
#arrow_right {
	background: url("../images/arrow_r.png") no-repeat;
	background-size: 100%;
	right: 50px;
}

@media only screen and (min-device-width : 200px) and (max-device-width : 649px) {
	html body .site-wrapper{
			overflow-y: scroll; 
	  -webkit-overflow-scrolling: touch;
	}
	.center{
		margin: 0px;
		width: 100%;
		text-align: center;
		padding: 0px;
		display: none;
	}
	.logo {
		/*width: 80%;*/
		display: none;
	}
	.container-images {
		padding: 0px;
		width: 100%;
		height: auto;
		margin: 0px;
	}
	.image {
		width: 100%;
		margin: 0px;
		margin-bottom: 3px;
	}
	#arrow_left, #arrow_right, #exitFS {
		display: none;
	}
}
