html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Poppins;
}
.site-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-x: hidden;
}
.container-fluid {
	padding:0 !important;
	margin:0 !important;
	width: 100% !important;
}
p {
	font-size: 12pt;
	line-height: 180%;
}
h1 {
	font-size: 24px;
	text-align: center;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
hr { 
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
a {
	text-decoration: none !important;
	font-color:rgba(150,150,150,1);
}

.divider {
	width: 100%;
	height:1px;
	position: block;
	padding: 100px;
}
#logo_small {
	max-width: 80px;
	width: 10vh;
	position: absolute;
	top:20px;
	left:20px;
	z-index: 99;
}
.wide-screen {
	display: none;
}
.nav {
	margin:auto;
	margin-top:1%;
	margin-bottom: 0;
}
.header {
	text-align: center;
	display: flex;
	width: 100%;
	font-family:Lato, sans-serif;
	position:absolute;
	top:0;
	z-index:9999;
}
.header a {
	font-size: 3vh;
	color: #3b5998;
}
.social-media img {
	max-height:30px;
	max-width: 30px;
	margin: 5px;
}
.social-media {
	width: 30%;
	margin: 0 auto;
	background-color: #fff;
}
.txt {
	padding: 40px;
	padding-top: 20px;
	width:65%;
	font-family: Poppins;
	margin: 0 auto;
	text-align: left;
	min-width: 300px;
	background-color: #ffffff;
}
.main {
	width: 100%;
	height: 100%;
	margin:0;
}
.white-block {
	margin-top:0px
	width:100%;
	left: 0;
	background-color: #dfe3ee;
	color:#3b5998;
	position: relative;
	text-align: center;
	padding: 20px;
	font-family: Poppins;
}
.black-block {
	width: 100%;
	left: 0;
	background-color: #8b9dc3;
	color: 	#dfe3ee;
	position: relative;
	text-align: center;
	padding: 20px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: Poppins;
}

.table-responsive {
	overflow: none;
}


.footer {
	color: #dfe3ee;
	position: relative;
	left: 0;
	width: 100%;
	background-color: #3b5998;
	font-family: Poppins;
	padding: 20px;
	font-size: 12px;
	text-align: center;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/e_logo_blue.svg) center center no-repeat #f0f0f0;
}

#mobile-txt {
	display: none;
}
.wide-screen {
	display: none
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}


@media only screen and (min-device-width: 650px){
	.divider {
		padding: 40px;
	}
}
@media only screen and (min-device-width: 1500px){ /* widescreen */
	.wide-screen {
		display: block;
	}
	.divider {
		padding: 94px;
	}
	.header a {
		font-size: 4vh;
		margin-top: 2vh;
	}
}
@media only screen and (min-device-width : 200px) and (max-device-width : 649px) {
	html body .site-wrapper{
		overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.divider {
		padding: 50px;
	}
	.social-media {
		width: 80%;
	}
	.logo_smalls_div {
		width: 100%;
		display: none;
		text-align: center;
		margin-bottom: 10px;
	}
	#logo_small {
		position: relative;
		left: 0;
		display: none;
	}
	.header {
		position: relative;
		top: -10px;
		display: inline-table;
		text-align: center;
	}
	.header li {
		margin-top: 20px;
		font-size:12pt;
	}
	.white-block {
		padding-left: 0px;
		padding-right: 0px;
	}
	.txt {
		width: 100%;
		margin: 0px;
	}
}
