html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Ubuntu;
}
.site-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-x: hidden;
}
.container-fluid {
	padding:0 !important;
	margin:0 !important;
	width: 100% !important;
}
p {
	font-size: 12pt;
	line-height: 180%;
}
h1 {
	font-size: 24px;
	font-style: bold;
	text-align: center;
}
h2 {
	font-size: 18px;
	font-style: bold;

}
h3 {
	font-size: 12px;
	font-style: bold;
}
hr { 
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
a {
	text-decoration: none !important;
	font-color:rgba(150,150,150,1);
}

.center {
	display: block;
	text-align: center;
	vertical-align: center;
	width: 60%;
	max-height: 200px;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;

}
.divider {
	width: 100%;
	height:1px;
	position: block;
	padding: 100px;
}
#name {
	background: #8b9dc3;
	padding: 10px;
}
#typed {
	color: #8b9dc3;
}
.nameblock {
	background-color: rgba(230,230,230,.8);
	color: #FFF;
	padding: 30px;
	font-family: Ubuntu;
	min-width: 300px;
}
.logo {
	z-index: 99;
	min-width: 200px;
	min-height: 100px;
	max-height: 200px;
	max-width: 400px;
	width:100%;
	height: 100%;
}
.logo_smalls_div {
	display: none;
}
.logo_small {
	max-width: 200px;
	position: absolute;
	top:30px;
	left:10px;
}

.wide-screen {
	display: none;
}
.nav {
	margin:auto;
	margin-top:2%;
}
.header {
	display: flex;
	width: 100%;
	font-family:Lato, sans-serif;
}
.header a {
	margin-right: 200px;
	font-size: 16pt;
	color: #3b5998;
}
.social-media img {
	max-height: 30px;
	max-width: 30px;
	margin: 5px;
}
.social-media {
	width: 100%;

}
.txt {
	margin: 10px;
	width:65%;
	font-family: Ubuntu;
	margin: 0 auto;
	text-align: left;
	min-width: 300px;
}
.main {
	background: url(images/3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin:0;
}
.white-block {
	width:100%;
	left: 0;
	background-color: #dfe3ee;
	color:#3b5998;
	position: relative;
	text-align: center;
	padding: 20px;
	font-family: Ubuntu;
}
.black-block {
	width: 100%;
	left: 0;
	background-color: #8b9dc3;
	color: 	#dfe3ee;
	position: relative;
	text-align: center;
	padding: 20px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: Ubuntu;
}

.table-responsive {
	overflow: none;
}

.project {
	width: 80%;
	color: rgba(150,150,150,1);
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-family:Ubuntu;
	align-content:center;
}
.info {
	background-color: #8b9dc3;
	color: white;
	height: 150px;
	width: 150px;
	padding: 5px;
	font-size: 10pt;
	margin: 10px;
	justify-content:center;
	align-content:center;
	display:table-cell;
	font-size: 16pt;
	transition: all .75s ease;
	text-align: center;
	vertical-align: center;
	border-bottom: solid;
	border-color: white;
	border-width:1px;

}
.info-name {
	color: white;
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
.info-type {
	display: none;
	color: #3b5998;
	font-size: 24pt;
}
.info:hover {
	background-color: #8b9dc3;
}
.info:hover .info-type {
	display: block;
	position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.info:hover .info-name {
	display: none;
}

.typed-cursor{
			opacity: 1;
			font-weight: 100;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			-ms-animation: blink 0.7s infinite;
			-o-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}
		@-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-ms-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-o-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}

.footer {
	color: #dfe3ee;
	position: relative;
	left: 0;
	width: 100%;
	background-color: #8b9dc3;
	font-family: Ubuntu;
	padding: 20px;
	font-size: 12px;
	text-align: center;
	clear:both;

}
#mobile-txt {
	display: none;
}
.wide-screen {
	display: none
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}

@media only screen and (min-device-width: 650px){
	.divider {
		padding: 40px;
	}
}
@media only screen and (min-device-width: 760px){
	.wide-screen {
		display: block;
	}
	.divider {
		padding: 94px;
	}
}
@media only screen and (min-device-width : 200px) and (max-device-width : 649px) {
	html body .site-wrapper{
		overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	}
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
	.divider {
		padding: 50px;
	}

	.social-media {
		display: block;
		margin-left: auto;
		margin-right: auto;
		left: 0;
	}
	.nameblock {
		height: 180px;
		margin-top: 200px;
	}
	.logo {
		position: relative;
		top:-40px;
	}
	.logo_smalls_div {
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	.logo_small {
		position: relative;
	}
	.header a{
		margin-top: 20px;
		font-size:12pt;
	}
	#name {
		position: relative;
		top: -50px;
	}
	#typed {
		display: block;
		position: relative;
		top: -50px;
	}
	.typed-cursor {
		display: none;
	}
	.header a {
		
	}

	.project, .info, .info-type {
		text-align: center;
		width: 100%;
	}
}