html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Poppins;
}
.site-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-x: hidden;
}
.container-fluid {
	padding:0 !important;
	margin:0 !important;
	width: 100% !important;
}
p {
	font-size: 12pt;
	line-height: 180%;
}
h1 {
	font-size: 24px;
	text-align: center;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
hr { 
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
a {
	text-decoration: none !important;
	font-color:rgba(150,150,150,1);
}

.center {
	display: block;
	text-align: center;
	vertical-align: center;
	width: 30%;
	max-height: 200px;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
}
.divider {
	width: 100%;
	height:1px;
	position: block;
	padding: 100px;
}
#name {
	background: #3b5998;
	padding: 10px;
}
#typed {
	color: #3b5998;
}
.nameblock {
	background-color: rgba(230,230,230,.6);
	color: #FFF;
	padding: 20px;
	font-family: Poppins;
	min-width: 300px;
}
.logo {
	z-index: 99;
	min-width: 200px;
	min-height: 100px;
	max-height: 200px;
	max-width: 400px;
	width:100%;
	height: 100%;
}
.logo_small {
	width: 200px;
	position: absolute;
	top:30px;
	left:30px;
}
.wide-screen {
	display: none;
}
.nav {
	margin:auto;
	margin-top:1%;
	margin-bottom: 0;
}
.navbar .nav-tabs {
	margin-bottom: 0;
}
.header {
	display: flex;
	width: 100%;
	font-family:Lato, sans-serif;
}
.header a {
	font-size: 3vh;
	color: #3b5998;
}
.social-media img {
	max-height:30px;
	max-width: 30px;
	margin: 5px;
}
.social-media {
	width: 100%;
}
.txt {
	padding: 40px;
	padding-top: 20px;
	width:65%;
	font-family: Poppins;
	margin: 0 auto;
	text-align: left;
	min-width: 300px;
	background-color: #ffffff;
	/*box-shadow: 2px 2px 2px 2px #888888;*/
}
.dabbling img {
	max-height: 400px;
	max-width: 100%;
}
.dabbling {
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: top;
	text-align: center;
	width: 100%;

}
.dabbling_div {
	margin: auto;
	margin-bottom: 20px;
}
.main {
	background: url(images/3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin:0;
}
.white-block {
	width:100%;
	left: 0;
	background-color: #dfe3ee;
	color:#3b5998;
	position: relative;
	text-align: center;
	padding: 20px;
	font-family: Poppins;
}
.black-block {
	width: 100%;
	left: 0;
	background-color: #8b9dc3;
	color: 	#dfe3ee;
	position: relative;
	text-align: center;
	padding: 20px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: Poppins;
}

.table-responsive {
	overflow: none;
}

.project {
	width: 80%;
	color: rgba(150,150,150,1);
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-family:Poppins;
	align-content:center;
}
.project a {
	margin: 10px;
}
.info {
	background-color: #ffffff;
	color: white;
	height: 150px;
	width: 150px;
	padding: 20px;
	justify-content:center;
	align-content:center;
	display:table-cell;
	font-size: 12pt;
	transition: all 1s ease;
	text-align: center;
	vertical-align: center;
	/*box-shadow: 2px 2px 2px 2px #888888;*/

}
.info-name {
	color: #8b9dc3;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.info-type {
	display: none;
	color: #f7f7f7;
	font-size: 16pt;
}
.info:hover {
	background-color: #3b5998;
}
.info:hover .info-type {
	display: block;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.info:hover .info-name {
	display: none;
}

.footer {
	color: #dfe3ee;
	position: relative;
	left: 0;
	width: 100%;
	background-color: #3b5998;
	font-family: Poppins;
	padding: 20px;
	font-size: 12px;
	text-align: center;
}
#mobile-txt {
	display: none;
}
.wide-screen {
	display: none
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}
.typed-cursor{
			opacity: 1;
			font-weight: 100;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			-ms-animation: blink 0.7s infinite;
			-o-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
.carousel-inner {
	height: 400px;
}

.active {
	overflow: hidden;
	max-height: 400px !important;
}
.item {
	background-color: #000;
}
.item img {
	max-height: 600px;
	margin: auto;
}


@media only screen and (min-device-width: 650px){
	.divider {
		padding: 40px;
	}
}
@media only screen and (min-device-width: 1500px){ /* widescreen */
	.wide-screen {
		display: block;
	}
	.divider {
		padding: 94px;
	}
	.header a {
		font-size: 4vh;
		margin-top: 2vh;
	}
	.carousel-inner {
		height: 50vh;
	}
	.active {
		max-height: 900px !important;
	}
}
@media only screen and (min-device-width : 200px) and (max-device-width : 649px) {
	html body .site-wrapper{
		overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	}
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
	.divider {
		padding: 50px;
	}

	.social-media {
		display: block;
		margin-left: auto;
		margin-right: auto;
		left: 0;
	}
	.nameblock {
		height: 180px;
		margin-top: 200px;
	}
	.logo {
		position: relative;
		top:-40px;
	}
	.logo_smalls_div {
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	.logo_small {
		position: relative;
		left: 0;
	}
	.header a{
		margin-top: 20px;
		font-size:12pt;
	}
	#name {
		position: relative;
		top: -50px;
	}
	.dabbling {
		width: 100%;
	}
	.dabbling img {
		width: 100%;
	}
	.white-block {
		padding-left: 0px;
		padding-right: 0px;
	}
	.txt {
		width: 100%;
		margin: 0px;
	}
	.carousel-inner {
		height: 150px;
	}
	.item {
		height: 100%;
	}
	.item img {
		width: 100% !important;
	}
	.carousel-caption {
		color: rgba(255,255,255,0.8) !important;
	}
	#jk {
		display: none;
	}
	#typed {
		display: block;
		position: relative;
		top: -50px;
	}
	.typed-cursor {
		display: none;
	}

	.project, .info, .info-type {
		text-align: center;
	}
}